{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drive</title>
    <meta name="description" content="DriveDuWish">
    <meta name="keywords" content="Drive">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        .chart-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .chart-container canvas {
            margin: 10px;
            max-width: 45%;
            height: auto;
        }

        .chart-row {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <h1>Drive</h1>
        <nav>
            <a href="#">Se connecter</a>
        </nav>
    </header>
    <div class="sidebar">
        <div class="profile">
            <img src="/media/pp.jpg" alt="Photo de profil" class="profile-img" height="100" width="100">
            {% if user.is_authenticated %}
            <h2 class="username">{{ user.username }}</h2>
            {% else %}
            <h2 class="username"> non connecté </h2>
            {% endif %}
        </div>
        <nav class="menu">
            <a href="#" id="upload" class="menu-item">Upload</a>
            <a href="#" id="mon-drive" class="menu-item">Mon Drive</a>
            <a href="#" id="recents" class="menu-item">Récents</a>
            <a href="#" id="statistiques" class="menu-item">Statistiques</a>
            {% if user.is_authenticated %}
            <a href="#" id="logout" class="menu-item">Se Déconnecter</a>
            {% else %}
            <a href="#" id="logout" class="menu-item">Se Connecter</a>
            {% endif %}
        </nav>
    </div>
    <div class="content">
        <div id="content-home" class="content-section">
            <h2>Accueil</h2>
            <p>Contenu pour l'accueil.</p>
        </div>
        <div id="content-upload" class="content-section">
            <h2>Upload</h2>
            <h3>Télécharger des fichiers</h3>
            <form method="post" enctype="multipart/form-data" action="{% url 'upload_file' %}">
                {% csrf_token %}
                {{ file_form.as_p }}
                <button type="submit" name="add_file">Ajouter le fichier</button>
            </form>
            <h3>Créer un dossier</h3>
            <form method="post" action="{% url 'upload_file' %}">
                {% csrf_token %}
                {{ folder_form.as_p }}
                <button type="submit" name="add_folder">Ajouter le dossier</button>
            </form>
        </div>

        <div id="content-mon-drive" class="content-section">
            <h2>Mon Drive</h2>
            <form method="get" action="{% url 'search_files' %}">
                <input type="text" name="query" placeholder="Rechercher des fichiers" value="{{ query }}" required>
                <button type="submit">Rechercher</button>
                {% if query %}
                    <a href="{% url 'mon_drive' %}" class="cancel-search-button">Annuler la recherche</a>
                {% endif %}
            </form>
        
            <div class="folders-container">
                <h3>Dossiers :</h3>
                <div class="folders">
                    {% for folder in folders %}
                        <div class="folder">
                            <a href="{% url 'view_folder' folder.id %}">{{ folder.name }}</a>
                            <a href="#" onclick="confirmDeleteFolder({{ folder.id }})">Supprimer</a>
                        </div>
                    {% empty %}
                        <p>Aucun dossier disponible</p>
                    {% endfor %}
                </div>
            </div>
        
            <div class="files-container">
                <h3>Fichiers hors dossiers :</h3>
                <div class="files">
                    {% for file in files %}
                        <div class="file">
                            <a href="{{ file.file.url }}">{{ file.title }}</a>
                        <!--saut de ligne-->
                            <br>
                            {% if file.folder %}
                                (Dossier: {{ file.folder.name }})
                            {% endif %}
                            <a href="#" onclick="confirmDeleteFile({{ file.id }})">Supprimer</a>
                        </div>
                    {% empty %}
                        <p>Aucun fichier disponible</p>
                    {% endfor %}
                </div>
            </div>           
        </div>
        
        <div id="content-recents" class="content-section">
            <h2>Récents</h2>
            <p>Contenu pour les fichiers récents.</p>
        </div>
        <div id="content-statistiques" class="content-section">
            <h2>Statistiques</h2>
            <p>Contenu pour les statistiques.</p>
            <pre>{{ folder_file_counts|safe }}</pre>
            <div class="chart-container">
                <div class="chart-row">
                    <canvas id="folderChart" ></canvas>
                    <canvas id="fileChart" ></canvas>
                </div>
                <div class="chart-row">
                    <canvas id="fileTypeChart"></canvas>
                </div>
            </div>
        </div>
        <script src="{% static 'home.js' %}"></script>

        <div id="content-logout" class="content-section">
            {% if user.is_authenticated %}
                <p>Bonjour, {{ user.username }}.</p>
                <a href="{% url 'logout' %}" class="logButton">Logout</a>
            {% else %}
                <p>Vous n'êtes pas connecté!</p>
                <a href="{% url 'login' %}" class="logButton">Login</a>
            {% endif %}
        </div>
    </div>

    <script src="{% static 'home.js' %}"></script>
    <script>
        function confirmDeleteFolder(folderId) {
            if (confirm("Êtes-vous sûr de vouloir supprimer ce dossier et tout son contenu ?")) {
                window.location.href = "{% url 'delete_folder' 0 %}".replace('0', folderId);
            }
        }
    </script>
    
    <script>
        const ctx = document.getElementById('folderChart').getContext('2d');
        const fileChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Nombre de dossiers'],
                datasets: [{
                    label: 'Total des dossiers',
                    data: [{{ folder_count }}],  // Valeur de `folder_count` transmise depuis Django
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            var ctx2 = document.getElementById('fileChart').getContext('2d');
            var folderFileCounts =  {{ folder_file_counts_json|safe }};
            var folderNames = folderFileCounts.map(function (item) { return item.folder_name; });
            var fileCounts = folderFileCounts.map(function (item) { return item.file_count; });
            

            var chart = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: folderNames,
                    datasets: [{
                        label: 'Nombre de fichiers',
                        data: fileCounts,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });

        var ctx3 = document.getElementById('fileTypeChart').getContext('2d');
        var fileTypeCounts = JSON.parse('{{ file_type_counts|escapejs }}');
        var labels = Object.keys(fileTypeCounts);
        var data = Object.values(fileTypeCounts);

        var chart = new Chart(ctx3, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: 'File Types',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'répartition des fichiers '
                    }
                }
            }


           
        });

        



    </script>

</body>
</html>
